/*
 * GENERAL
 */
body {
    margin: 0;
    padding: 0;
}

.center {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}


.error-message {
    color: #ff0000;
    font-weight: bold;
}

#signInArea {
    padding-top: 15%;
}

#main {
    padding-bottom: 36px;
}

span.vr:before {
    width: 1px;
    color: #133d4a;
    margin: 0 12px;
    display: inline-block;
    content: "\007C";
}

.pointer {
    cursor: pointer;
}

.show-active {
    display: none;
}

.active .show-active {
    display: block;
}

.active .hide-active {
    display: none;
}

.label.UNCLASSIFIED, .label.unclassified, .label.Unclassified {
    background-color: #43ac6a;
}

.label.CONFIDENTIAL, .label.confidential, .label.Confidential {
    background-color: #e99002;
}

.label.SECRET, .label.secret, .label.Secret{
    background-color: #f04124;
}


/*
 * NAV
 */

nav.navbar-inverse {
    background: #0c2831;
    border-radius: 0px;
}

nav.navbar-main {
    background: #006687;
    border: 0px;
    border-radius: 0px;
}

nav.navbar-main .nav>li>a:hover,
nav.navbar-main .nav>li>a:focus {
    background: #0c2831;
}

.nav .open>a,
.nav .open>a:hover,
.nav .open>a:focus {
    background: #0c2831;
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
    color: #008cba;
}

.nav>li>a {
    color: #fff;
}

.navbar.navbar-user {
    margin-bottom: 0px;
}

.navbar.navbar-user {
    min-height: 20px;
}

.navbar-user .navbar-nav>li>a {
    padding-top: 5px;
    padding-bottom: 5px;
}

.user-info {
    padding: 5px 0;
    color: #8fdaf3;
}

.navbar.navbar-user .nav>li>.btn.btn-link{color: #fff; font-size: 13px; font-weight: 300; padding-top: 5px; padding-bottom: 5px;}
.navbar.navbar-main .nav>li>.btn.btn-link{color: #fff; font-size: 13px; font-weight: 300; padding-top: 12px; padding-bottom: 12px;}


/*
 * FOOTER
 */
/* semi-sticky footer */
html{height: 100%; padding-bottom: 92px;}
body {
    min-height: 100%;
    position:relative;
}
 /* #wrapper{min-height: 100%; position: relative;} */
footer#footer {
    position: absolute; 
    bottom: -92px; 
    width: 100%;
} 

 footer#footer {
    background: #0b2832;
    padding: 0px;
    height: 92px; 
    color: #fff;
}

footer#footer .container{margin-top: 30px;}

footer#footer li {
    float: left;
    margin-right: 1.5em;
    margin-bottom: 1.5em;
}

footer#footer p {
    clear: left;
}



footer#footer a {
    color: #227b98;
}


/*
 * FORMS INPUTS BUTTONS
 */

input.form-control {
    width: auto;
    min-width: 200px;
}

input[type="radio"] {
    margin-right: 8px;
}

select.form-control {
    width: auto;
    max-width: 100%;
}

.form-wrapper {
    border: 1px solid #e7e7e7;
    padding: 0 24px 24px 24px;
    border-radius: 3px;
}

.form-progress .badge {
    border-radius: 50%;
    padding: 12px 15px;
    background: #b0b2b5;
}

.form-progress .badge.visited {
    cursor: pointer;
}

.form-progress .badge.visited:hover {
    background: #5bc0de;
}

.form-progress .badge.current {
    background: #49515f;
}

.form-progress .badge.success {
    background: #5cb85c
}

.form-progress .badge.error {
    background: #a94442;
}

.has-error label {
    color: #a94442;
}


/*
 * HOMEPAGE
 */

.home-buttons {
    width: 35%;
}

.landing-page {
    min-height: 450px;
}

.landing-page .btn-lg {
    padding: 20px 16px;
}

.landing-page h2.page-title {
    margin-top: 42px;
    font-size: 81px;
    font-weight: 300;
    margin-bottom: 0px;
    color: #525252;
}

.landing-page h3.subtitle {
    font-size: 18px;
    margin-top: 10px;
}

.landing-page .buttons {
    margin-top: 60px;
}

.splash-page h1.page-title{
    font-size: 81px;
    font-weight: 300;
    margin-bottom: 0px;
    color: #525252;
}


/*
 * PRODUCTS
 */

 #selectedProducts span.version{
     padding-left: 12px;    
    border-left: 1px solid #ddd;
    margin-left: 9px;
    padding-left: 9px;
}

#inventorydiv {
    margin-bottom: 36px;
}

#inventorydiv .panel-group,
#inventorydiv .sub-panel-group {
    border-left: 1px solid #ddd;
    padding-left: 12px;
}

.product-filters {
    margin-top: 17px;
}

.form-control.form-select {
    width: auto;
    display: inline-block;
}

.page-title,
h2.page-title {
    border-bottom: 1px solid #f3f3f3;
    margin-bottom: 12px;
    padding-bottom: 11px;
}

.filter-link {
    display: inline-block;
    border-left: 1px solid #ddd;
    margin-left: 6px;
    padding: 9px 6px;
    color: #a2a2a2;
}


/*
 * PRODUCT MODAL
 */

#productmodal .panel.product {
    position: relative;
    margin-left: 60px;
}

#productmodal .requestButton {
    position: absolute;
    top: 0px;
    left: -60px;
    width: 54px;
    text-align: center;
}

#productmodal .requestButton span {
    min-height: 21px;
}

#productmodal .requestButton span.show-active {
    display: none;
}

#productmodal .requestButton.active span.show-active {
    display: block;
}

#productmodal .requestButton.active span.hide-active {
    display: none;
}

.modal-title,
h5.modal-title {
    display: inline-block;
}


/*
 * MOBILE STYLES ( screen < 767px wide)
 */

.show-xs {
    display: none;
}

@media(max-width:767px) {
    .show-xs {
        display: block;
    }
    .navbar-user ul.nav li,
    .navbar-main ul.nav li {
        display: inline-block;
    }
    .navbar-user ul.nav li a,
    .navbar-main ul.nav li a {
        padding-left: 8px;
        padding-right: 8px;
    }
    .navbar-user .user-info {
        display: none;
    }
    .navbar-nav .open .dropdown-menu {
        position: absolute;
        background: #0b2832;
    }
    .navbar-nav .open .dropdown-menu>li>a {
        padding: 8px;
        color: #ffffff;
    }
    .product-filters {
        display: none;
        float: none !important;
        overflow: hidden;
    }
    .product-filters .input-group.pull-left {
        float: none !important;
        margin-bottom: 8px;
    }
    .product-filters #pDist.pull-left {
        float: none !important;
    }
    .product-filters .filter-link {
        border: 0px;
        margin: 0px;
        float: none !important;
    }
    .panel-heading {
        overflow: hidden;
    }
    .form-progress .text-muted {
        display: none;
    }
    .landing-page .btn-lg {
        margin-bottom: 12px;
    }
    .landing-page .buttons {
        margin-top: 36px;
    }
    .landing-page h2.page-title {
        margin-top: 10px;
    }
    #footer .pull-right{float:none !important; margin-bottom: 12px;}
    #footer p{clear:both;}
}
